/*! VARIABLES */
/*! LISTAS */
header a {
  color: white; }
  header a h1 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }

.hero {
  text-align: center;
  color: black;
  background-position: center; }
  .hero a {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    position: sticky;
    top: 100px; }

header a {
  color: white; }
  header a h1 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }

.hero {
  text-align: center;
  color: black;
  background-position: center; }
  .hero a {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    position: sticky;
    top: 100px; }

.bienvenidos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px; }
  .bienvenidos div {
    width: 50%; }
    .bienvenidos div h2 {
      font-size: 40px; }
    .bienvenidos div p {
      font-size: 20px; }
  .bienvenidos img {
    width: 400px;
    height: 500px; }

.productos h2 {
  background-color: rgba(255, 64, 64, 0.479);
  color: black;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.productos-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .productos-contenedor div {
    border: 1px solid grey;
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 15px;
    box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75); }
    .productos-contenedor div img {
      width: 250px; }
    .productos-contenedor div h3 {
      font-size: 20px;
      margin: 10px; }
    .productos-contenedor div a {
      background-color: black;
      color: white;
      padding: 5px; }

.para-vos h2 {
  font-size: 30px;
  text-align: center;
  background-color: rgba(255, 64, 64, 0.479);
  color: black;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.producto {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 15px; }
  .producto .img2 {
    grid-row: span 2; }
  .producto .img5 {
    grid-row: span 2; }
  .producto .img4 {
    grid-row: span 2; }
  .producto .img6 {
    grid-row: span 2; }
  .producto .gird-items {
    position: relative; }
    .producto .gird-items img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75); }
    .producto .gird-items h3 {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.556);
      color: white;
      width: 100%;
      padding: 5px; }

.fixed {
  position: fixed;
  bottom: 40px;
  right: 50px; }
  .fixed a img {
    width: 50px; }

footer {
  height: 400px;
  background-color: rgba(228, 141, 141, 0.911); }
  footer i {
    font-size: 50px; }
    footer i:hover {
      color: rgba(216, 72, 72, 0.911); }

.electrodos h1 {
  font-size: 40px;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 204, 204, 0.911); }

.celulares h1 {
  font-size: 40px;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 204, 204, 0.911); }

.muebles h1 {
  font-size: 40px;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 204, 204, 0.911); }

.conteiner {
  max-width: 1200px;
  margin: 0 auto; }

.footer-2 {
  display: flex;
  flex-wrap: wrap; }

.footer-links {
  width: 25%;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 30px; }
  .footer-links h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #ff5454;
    padding-bottom: 10px;
    display: inline-block; }
  .footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease; }
    .footer-links ul li a:hover {
      color: rgba(216, 72, 72, 0.911);
      padding-left: 6px; }

.contacto {
  display: flex;
  justify-content: center;
  align-items: center; }

.encuesta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }

.mapa h1 {
  font-size: 40px;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 204, 204, 0.911);
  display: flex;
  justify-content: center;
  align-items: center; }

.mapa-2 {
  display: flex;
  justify-content: center; }
