.hero{
    text-align: center;
    color: black;
    background-position: center;
    a{
        background-color: white;
        color: black;
       padding: 10px;
       font-size: 15px;
       border-radius: 5px;
       position: sticky;
       top: 100px;
    }
}